doctype
html
  head
    meta(name="description" content="Taiga is a minimal theme for the Nylas N1 mail application made by Noah Buscher.")
    title Taiga • Noah Buscher
    link(rel="stylesheet" href="/main.css")
    link(rel="stylesheet" href="font/font.css")
  body
    section.container.mt
      != yield
