img(class="tree", srcset='tree.png 1x, tree@2x.png 2x, tree@3x.png 3x')
p Taiga is a clean, simple, Mailbox-inspired theme for N1.
p Focus on your emails. <a href="https://github.com/noahbuscher/N1-Taiga">Download it on Github</a>.
img(class="taiga", srcset='taiga.png 1x, taiga@2x.png 2x')
img(class="lines", srcset='lines.png 1x, lines@2x.png 2x')
footer
  div.flex.container
    span.mr Theme by <a href="//noahbuscher.com/about">Noah Buscher</a>
    span Site by <a href="//twnsnd.co">Cole Townsend</a>
